.footer-container {
    background-color: rgba(23, 25, 28, 1);
    max-height: 300px;
}

.footer-container__content {
    border-top: 1px solid #353538;
}

.footer {
    margin-top: 40px;
    margin-bottom: 57px;
}

.footer__menu {
    margin-left: 130px;
}